<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Intern page</title>
        <link rel="stylesheet" href = 'css/style.css'>

    </head>
<body>
    <div class="container">
            <header>
                <h1>INTERN</h1>
                <img src = "images/40716-200.png">
            </header>
            <div class="name">Neha</div>
            <div class="id">12</div>
            <div class="email">neha@two.com</div>
            <div class="office">UCLA</div>
            <footer></footer>
    </div>

</body>
</html>
