<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Manager PAGE</title>
        <link rel="stylesheet" href = 'css/style.css'>

    </head>
<body>
    <div class="container">

            <header>
                <h1>Manager</h1>
                <img src="images/img_454671.png">
            </header>

            <div class="name">Suzanne</div>
            <div class="id">453</div>
            <div class="email">suzanne@one.com</div>
            <div class="office">1</div>
            <footer></footer>
    </div>


</body>
</html>